html {
    height: 100%;
}
body {
    font-family: sans-serif;
    width: 100vw;
    height: 100%;
    padding: 0;
    margin: 0;
   
}

header {
    width: 100%;
    height: 23%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(209, 209, 209);
}
footer {
    height: 3%;
    display: flex;
    justify-content: flex-end;
    color: rgb(209, 209, 209);
    background-color: #333;
    align-items: center;
    padding-right: 1em;
}

#headerName {
    font-size: 3em;
}

#data {
    display: flex;
    /* padding-top: 4em; */
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
   
}
main {
    height: 74%;
}
#data > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: .5em;
    border: 1px gray solid;
    margin: 1em;
    height: 6em;
    width: 14em;
    box-shadow: 2px 2px 1px rgb(139, 139, 139);
    font-size: 1.5em;
    font-family: 'Quicksand', sans-serif;

}

.heroImage {
    background-image: url("https://static.pexels.com/photos/360912/pexels-photo-360912.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.value {
    padding-top: .2em;
    font-size: 1.75em;
}
#options {
    height: 10%;
}
#data {
    height: 40%;
}
#charts {
    height: 50%;
}
#charts > div{
    display: flex;
    justify-content: center;
}
#ovImg {
    height: 100%;
    width: auto;
}

#ovation {
    height: 87%
}

#buttons {
    height: 8%;
}

#buttons > button { 
    margin: 3px;
}